*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.item{
    margin-bottom: 10px;
}
.submit-box button{
    width: 100px;
    padding: 5px;
}